target

# From: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

*.iml

## Directory-based project format:
.idea/

# From https://github.com/github/gitignore/blob/master/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
